# --- Build Outputs ---
build/
bin/
out/
*.exe
*.o
*.obj

# --- VCPKG (Crucial: Don't upload 1GB of libraries) ---
vcpkg/
vcpkg_installed/

# --- IDE & System ---
.vscode/
.vs/
.DS_Store
*.user

# --- Project Specific Data ---
# We ignore the output and the targets so your GitHub stays clean
articles.json
targets.txt